<div>
    <!-- Một khóa học -->
    
    {{#course}}
    
<main class="bg-dark" style="padding: 10px 0px 10px">
    <div class="top-class-container shadow p-3 mb-5 rounded">
        <p class="font-weight-bold" style="padding:4px 4px; font-size: 35px; color: gold;">{{this.name}}</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="/home">Trang chủ</a></li>
                <li class="breadcrumb-item "><a href="/my-courses">Các khóa học của tôi</a></li>
                <li class="breadcrumb-item "><a href="#">{{this.name}}</a></li>
            </ol>
        </nav>
    </div>
        <div class="font-weight-bold middle-submit-container shadow p-3 mb-5 rounded">
            <a class="font-weight-bold" style="padding:4px 4px; font-size: 25px; color: gold;" href="#">Các thông báo</a>
            <p class="card-text content p-3" style="color:aliceblue">Noti 1 . . .</p>

            <a class="font-weight-bold" style="padding:4px 4px; font-size: 25px; color: gold;" href="#">Diễn đàn thảo luận</a>
            <p class="card-text content p-3" style="color:aliceblue">{{this.teacher_code}}</p>

            <a class="font-weight-bold" style="padding:4px 4px; font-size: 25px; color: gold;" href="#">Files giáo trình/bài học</a>
            <br>
            <a class="card-text content p-3" style="color:aliceblue" href="#"> . . .</a>
            <p class="card-text content p-3"></p>

            <a class="font-weight-bold" style="padding:4px 4px; font-size: 25px; color: gold;" href="./submit">Bài tập</a>
            <br>
            <a class="card-text content p-3" style="color:aliceblue" href="#">Assignment 1</a>
        </div>
    {{/course}}
</main>
