<nav class="navbar p-0 sticky-top d-flex flex-row">
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <h2><small class="text-muted"> XOL UNIVERSITY </small></h2>
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown border-left">
            
        <li class="nav-item dropdown border-left">
          
            
            <a class="text-info" href="/login">Đăng nhập</a>
         
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">

            <div class="dropdown-divider"></div>
           
          </div>
          </li>
        
      </ul>
      
    </div>
  </nav>
<div class="super_container">

	
	
	
	
	<!-- Home -->

	<div class="home">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel">
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(/images/slider_background.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Trường <span>ABCXYZ!</span></h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(/images/slider_background.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Trường <span>ABCXYZ!</span></h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(/images/slider_background.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Trường <span>ABCXYZ!</span></h1>
						</div>
					</div>
				</div>

			</div>

			<div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">Trước</span></div>
			<div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">Sau</span></div>
		</div>

	</div>

	

	

	

	<!-- Announcement -->

	
			
	
	<div class="events page_section">
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Tin tức</h1>
					</div>
				</div>
			</div>
			
			<div class="event_items">

			

				

				{{#each datas}}
				<!--  Announcement Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">{{this.day}}</div>
									<div class="event_month">{{this.month}}</div>
								</div>
							</div>

							<div class="col-lg-10 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" >{{this.title}}</a></div>
								
									<p>{{this.content}}</p>
								</div>
							</div>

							

						</div>	
					</div>
				</div>
				{{/each}}

			</div>
				
		</div>
	</div>

	
			

</div>