<nav class="navbar p-0 sticky-top d-flex flex-row">
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <h2><small class="text-muted"> XOL UNIVERSITY </small></h2>
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" class="form-control" placeholder="Tìm kiếm khóa học">
          </form>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown border-left">
            
        <li class="nav-item dropdown border-left">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-bell"></i>
            <p class="text-info">Thông báo</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">

            <div class="dropdown-divider"></div>
           
          </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
            <div class="navbar-profile">
              <img class="img-xs rounded-circle" src="assets/images/face.jpg" alt="">
              <p class="mb-0 d-none d-sm-block navbar-profile-name">{{data.name}}</p>
              <i class="mdi mdi-menu-down d-none d-sm-block"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">

            <a class="dropdown-item preview-item" href="/info">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-account-box-outline"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p >Thông tin cá nhân</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="/my-courses">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-view-agenda"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Thông tin khóa học </p>
              </div>
            </a>
            <a class="dropdown-item preview-item" href="/login">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-logout"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Đăng xuất </p>
              </div>
            </a>
        </li>
      </ul>
      
    </div>
  </nav>
<div class="container">
 
            <div class="content-wrapper">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <form class="form-sample" method="post" action="/info/edit?_method=PUT">
                      <p > Hồ sơ cá nhân</p>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Họ và tên</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="name" name="name" value="{{data.name}}" />
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Giới tính</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="gender" name="gender" value="{{data.gender}}" />
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      
                      
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Địa chỉ</label>
                            <div class="col-sm-9">
                              <input type="text"  class="form-control" id="address" name="address" value="{{data.address}}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Lưu lại</button>
                        
                    </form>
                  </div>
                </div>
              </div>
              </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            
            <!-- partial -->

</div>
