<!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/images/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->


    <main class="login-body" data-vide-bg="/images/login-bg.mp4">
        <!-- Login Admin -->
        
        <form class="form-default" action="/login/go" method="POST">
           
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a><img src="/images/loder.png" alt=""></a>
                </div>
                <h2>Đăng nhập</h2>
                <div class="form-input">
                    
                    <input  type="text" name="accountname" placeholder="Tên tài khoản">
                </div>
                <div class="form-input">
                    
                    <input type="password" name="password" placeholder="Mật khẩu">
                </div>
                <div class="form-input pt-30">
                    <input  type="submit" name="submit" value="Đăng nhập">
                </div>
                 <a>{{message}}</a>
                
                
            </div>
        </form>
        <!-- /end login form -->
    </main>