
<nav class="navbar p-0 sticky-top d-flex flex-row">
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <h2><small class="text-muted"> XOL UNIVERSITY </small></h2>
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" class="form-control" placeholder="Tìm kiếm khóa học">
          </form>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown border-left">
            
        <li class="nav-item dropdown border-left">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-bell"></i>
            <p class="text-info">Thông báo</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">

            <div class="dropdown-divider"></div>
           
          </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
            <div class="navbar-profile">
              <img class="img-xs rounded-circle" src="assets/images/face.jpg" alt="">
              <p class="mb-0 d-none d-sm-block navbar-profile-name">Nguyễn Hồng Long</p>
              <i class="mdi mdi-menu-down d-none d-sm-block"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">

            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-account-box-outline"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p >Thông tin cá nhân</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-view-agenda"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Thông tin khóa học </p>
              </div>
            </a>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-logout"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Đăng xuất </p>
              </div>
            </a>
        </li>
      </ul>
      
    </div>
  </nav>
<div>
    <!--Các khóa học của tôi-->
    <div class="mt-3"></div>
        <div class="card-body p-3">

            <h1 id="instance-50937-header" class="card-title d-inline">Các khóa học của tôi</h1>
        </div>
    <!--Các khóa học-->
    <section id="inst50937" class=" Cours block card mb-3" aria-labelledby="instance-50937-header">
        <div class="card-body p-3">
            <a href=""><h4>Nhập môn Công nghệ phần mềm - 19_1</h4></a>
            <div class="card-text content mt-3">
                <div class="info">Giáo viên: <a href=""><h5>Nguyễn Văn A</h5></a></div>
                <div class="info">Giáo viên: <a href=""><h5>Vũ Văn A</h5></a></div>
                <div class="info">Giáo viên: <a href=""><h5>Phạm Văn A</h5></a></div>
            </div>
        </div>
    </section>

    <section id="inst50937" class=" Cours block card mb-3" aria-labelledby="instance-50937-header">
        <div class="card-body p-3">
            <a href=""><h4>Cours 2</h4></a>
            <div class="card-text content mt-3">
                <div class="info">Giáo viên: <a href=""><h5>Nguyễn Văn B</h5></a></div>
                <div class="info">Giáo viên: <a href=""><h5>. . .</h5></a></div>
            </div>
        </div>
    </section>
</div>