<div class="container bg-dark p-3">
 <!--Các khóa học của tôi-->
        <div class="mt-4 mb-5">
            <p class="font-weight-bold" style="margin: 20px; font-size: 35px; color: gold;">Các khóa học của tôi</p>
                <nav aria-label="breadcrumb" style="margin: 20px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a href="/home" style="color:whitesmoke;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#" style="color: whitesmoke;">My Courses</a></li>
                    </ol>
                </nav>
        </div>
    <!--Các khóa học-->
    {{#each result}}

    <div class="course-container shadow p-3 mb-3 rounded">
        <section class="mb-3 p-3">
            <a href="/my-courses/{{this._id}}" target="_blank"><p style="font-size: 25px; color: gold;">{{this.name}}</p></a>

        </section>
    </div>
    {{/each}}
    
</div>
