 <nav class="navbar p-0 sticky-top d-flex flex-row">
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <h2><small class="text-muted"> XOL UNIVERSITY </small></h2>
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" class="form-control" placeholder="Tìm kiếm khóa học">
          </form>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item dropdown border-left">
            
        <li class="nav-item dropdown border-left">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-bell"></i>
            <p class="text-info">Thông báo</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">

            <div class="dropdown-divider"></div>
           
          </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
            <div class="navbar-profile">
              <img class="img-xs rounded-circle" src="assets/images/face.jpg" alt="">
              <p class="mb-0 d-none d-sm-block navbar-profile-name">Nguyễn Hồng Long</p>
              <i class="mdi mdi-menu-down d-none d-sm-block"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">

            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-account-box-outline"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p >Thông tin cá nhân</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-view-agenda"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Thông tin khóa học </p>
              </div>
            </a>
            <a class="dropdown-item preview-item" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-logout"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject mb-1">Đăng xuất </p>
              </div>
            </a>
        </li>
      </ul>
      
    </div>
  </nav>
<main class="bg-secondary" style="padding: 10px 0px 10px">

    <div class="top-class-container shadow p-3 mb-5 rounded">
        <p class="font-weight-bold" style="padding:4px 4px; font-size: 35px; color: gold;">Tên lớp</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item "><a href="#">Tên lớp</a></li>
                <li class="breadcrumb-item active " aria-current="page" style="color: gold;">Tên bài tập</li>
            </ol>
        </nav>
    </div>


    <div class="font-weight-bold middle-submit-container shadow p-3 mb-5 rounded">

        <div class="row" style="align-items: center; justify-content: center; font-size: 20px">
            <div class="col-sm-3">Tên bài tập</div>
            <div class="col-sm-7"></div>
        </div>   

        <div class="row" style="align-items: center; justify-content: center; font-size: 20px">
            <div class="col-sm-2" >Deadline:</div>
            <div class="col-sm-8" >giờ, ngày, tháng, năm</div>
        </div>            

        <div class="row" style="align-items: center; justify-content: center; font-size: 20px">
            <div class="col-sm-4 font-weight-bold" style="font-size: 25px;">Trạng thái bài nộp:</div>
            <div class="col-sm-6" ></div>
        </div>            

        <div class="container"style="padding: 5px 0px 20px;">
            <div class="row" style="align-items: center; justify-content: center; ">
                <div class="col-sm-3 left-col-border">Trạng thái bài nộp:</div>
                <div class="col-sm-7 right-col-border">col-sm-8</div>                    
            </div>

            <div class="row" style="align-items: center; justify-content: center;">
                <div class="col-sm-3 left-col-border" >Điểm số:</div>
                <div class="col-sm-7 right-col-border" >col-sm-8</div>                    
            </div>

            <div class="row" style="align-items: center; justify-content: center;">
                <div class="col-sm-3 left-col-border" >Thời gian còn lại:</div>
                <div class="col-sm-7 right-col-border" >col-sm-8</div>                    
            </div>

            <div class="row" style="align-items: center; justify-content: center;">
                <div class="col-sm-3 left-col-border">Bài nộp:</div>
                <div class="col-sm-7 right-col-border">col-sm-8</div>                    
            </div>

            <div class="row" style="align-items: center; justify-content: center;">
                <div class="col-sm-3 left-col-border" style="border-bottom-width: 2px;" >Ghi chú:</div>
                <div class="col-sm-7 right-col-border" style="border-bottom-width: 2px;" >col-sm-8</div>                    
            </div>
        </div>
            
        <div class="btn-send">
            <button type="button" class="btn btn-dark">Nộp bài</button>
        </div>
    </div>
</main>  




