<div class="content">
    <div class="mr-3">
        <div class="row h-100 mx-auto py-3 bg-light border">
            <div class="container-fluid">
                <div class="mb-3">
                    <span class="text-info classList">Danh sách khóa học</span>
                    <a type="button" class="btn btn-light float-right" id="showBtnSetting" onclick="showBtn()">
                        <i class="fas fa-cog" style="font-size: 30px"></i>
                    </a>
                </div>
                <div class="row my-3">
                    <div class="col-md">
                        {{#each classes}}
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title mb-3">
                                    <a class="text-success" style="font-size: 25px">{{this.name}}</a>
                                    <a type="button" class="btn btn-info float-right btnSetting" href="/admin/{{this._id}}/insertUser">Thêm</a>
                                </div>
    
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <a type="button" class="btn btn-info float-right btnSetting" href="/admin/insertClass">Thêm lớp học</a>
            </div>
        </div>
    </div>
</div>

{{#section 'script' }}
    <script>
        function showBtn() {
            const btnSettings = document.getElementsByClassName('btnSetting');

            for (var i = 0; i < btnSettings.length; i++) {
                btnSettings[i].classList.toggle('show');
            }
        }
    </script>
{{/section}}

{{#section 'style' }}
    <style>
        * { margin: 0; padding: 0}

        .classList {
            font-size: 35px;
            margin: 15px;
            padding: 20px 0px;
        }

        .content {
            margin: 50px 20px;
        }

        ul li {
            list-style: none;
        }

        .btnSetting {
            opacity: 0;
            visibility: hidden;
        }
        .btnSetting.show {
            opacity: 1;
            visibility: visible;
        }
    </style>
{{/section}}


{{#section 'nav' }}
    <div class="dropdown text-right">
        <button class="btn dropdown-toggle text-white font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <span class="username mr-2">{{admin.name}}</span>
            <span><i class="fas fa-user"></i></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item userInfo" href="/admin/profile">
                <span class='mr-1'><i class="far fa-user-circle"></i></span>
                Thông tin cá nhân
            </a>
            <a class="dropdown-item logOut" href="/admin/signin">
                <span class='mr-1'><i class="fas fa-sign-out-alt"></i></span>
                Đăng xuất
            </a>
        </div>
    </div>
{{/section}}


{{#section 'info' }}
    <div class="information row mt-5">
        <div class="col-md">
            <div class="card">
                <div class="card-body mt-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tất cả khóa học</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- hết information -->
{{/section}}