<div class="content">
    <div class="mr-3">
        <div class="row h-100 m-auto bg-light border">
            <div class="container-fluid">
                <div class="row">
                    <span class="text-info classList">Menu</span>
                </div>
                <div class="row">
                    <div class="col-md">
                        <ul class="list-group options">
                            <li class="list-group-item">
                                <a class="text-left text-success btn btn-block" href="/admin/profile">Thông tin cá nhân</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-left text-success btn btn-block" href="/admin/classList">Tất cả khóa học</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-left text-success btn btn-block" href="/admin/registerUser">Đăng kí thông tin người dùng</a>
                            </li>
                            <li class="list-group-item">
                                <a class="text-left text-success btn btn-block" href="/admin/signin">Đăng xuất</a>
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script' }}
    <script>
        function showBtn() {
            const btnSettings = document.getElementsByClassName('btnSetting');

            for (var i = 0; i < btnSettings.length; i++) {
                btnSettings[i].classList.toggle('show');
            }
        }
    </script>
{{/section}}

{{#section 'style' }}
    <style>
        * { margin: 0; padding: 0}

        .classList {
            font-size: 35px;
            margin: 15px;
            padding: 20px 0px;
        }

        .content {
            margin: 50px 20px;
        }

        ul li {
            list-style: none;
        }

        .options a {
            font-size: 20px;
            font-weight: bold;
        }

        .btnSetting {
            opacity: 0;
            visibility: hidden;
        }
        .btnSetting.show {
            opacity: 1;
            visibility: visible;
        }
    </style>
{{/section}}

{{#section 'nav' }}
    <div class="dropdown text-right">
        <button class="btn dropdown-toggle text-white font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <span class="username mr-2">{{admin.name}}</span>
            <span><i class="fas fa-user"></i></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item userInfo" href="/admin/profile">
                <span class='mr-1'><i class="far fa-user-circle"></i></span>
                Thông tin cá nhân
            </a>
            <a class="dropdown-item logOut" href="/admin/signin">
                <span class='mr-1'><i class="fas fa-sign-out-alt"></i></span>
                Đăng xuất
            </a>
        </div>
    </div>
{{/section}}

{{#section 'info' }}
    <div class="information row mt-5">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-warning" style="display: inline-block;">Thông báo</h3>
                    <a type="button" class="btn btn-light float-right" id="showBtnSetting" onclick="showBtn()">
                        <i class="fas fa-cog" style="font-size: 30px"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="text-danger">
                            <div class="row my-1">
                                <div class="col-md-10">
                                    1. Thông báo 1
                                </div>
                                <div class="col-md-2 btnSetting">
                                    <button class="btn btn-warning float-right">Xóa</button>
                                    <button class="btn btn-success mr-3 float-right">Sửa</button>
                                </div>
                            </div>
                        </li>
                        <li class="text-danger my-1">
                            <div class="row">
                                <div class="col-md-10">
                                    2. Thông báo 2
                                </div>
                                <div class="col-md-2 btnSetting">
                                    <button class="btn btn-warning float-right">Xóa</button>
                                    <button class="btn btn-success mr-3 float-right">Sửa</button>
                                </div>
                            </div>
                        </li>
                        <li class="text-danger my-1">
                            <div class="row">
                                <div class="col-md-10">
                                    3. Thông báo 3
                                </div>
                                <div class="col-md-2 btnSetting">
                                    <button class="btn btn-warning float-right">Xóa</button>
                                    <button class="btn btn-success mr-3 float-right">Sửa</button>
                                </div>
                            </div>
                        </li>
                        <li class="text-danger my-1">
                            <div class="row">
                                <div class="col-md-10">
                                    4. Thông báo 4
                                </div>
                                <div class="col-md-2 btnSetting">
                                    <button class="btn btn-warning float-right">Xóa</button>
                                    <button class="btn btn-success mr-3 float-right">Sửa</button>
                                </div>
                            </div>
                        </li>
                        <li class="text-danger my-1">
                            <div class="row">
                                <div class="col-md-10">
                                    5. Thông báo 5
                                </div>
                                <div class="col-md-2 btnSetting">
                                    <button class="btn btn-warning float-right">Xóa</button>
                                    <button class="btn btn-success mr-3 float-right">Sửa</button>
                                </div>
                            </div>
                        </li>
                        <button class="btn btn-info mt-3 float-right btnSetting">Thêm</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- hết information -->
{{/section}}


