<div class="content row" style="margin: 100px 0">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Đăng nhập</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="username">Tên tài khoản</label>
                        <input type="text" class="form-control" id="username" name='username'>
                    </div>
                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password" name='password'>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="rememberme">Nhớ tên tài khoản</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- hết content -->
<div class="card-footer">
    <h2>PHẠM TRƯỜNG KHOA</h2>
</div>


