<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>NMCNPM</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="/css/main_styles.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body >
    

    {{{body}}}

    

  
	<script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Video bg -->
    <script src="/js/jquery.vide.js"></script>
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/ScrollMagic.min.js"></script>
	<script src="/js/owl.carousel.js"></script>
	<script src="/js/custom.js"></script>
</body>
</html>